#cart {
    width: 250px;
}
.item {
        display: flex;
        align-items: center;
        padding: 0 0 10 10;
}
.actions {
    padding: 0 10px;
}
.products {
    width: 200px;
    display: flex;
    flex-direction: column;
}